@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

:root {
  --color-expense: #446783;
  --color-expense-light: #81aacb;
  --color-expense-dark: #246094;
}

* {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}
